.login-container {
}

.login-container h1 {
  margin-top: 6rem;
}

.login-container form {
  max-width: 600px;
  min-height: 180px;
  margin: 0 auto 0;
}

.login-btn {
  margin-top: 1rem;
  float: right;
}
