.img-preview {
    border-radius: 5px;
    width: 100%;
    height: 300px;
}

@media (max-width: 430px) {
    .img-preview {
        height: 200px !important;
    }
}

@media (max-width: 360px) {
    .img-preview {
        height: 200px !important;
    }
}

@media (max-width: 330px) {
    .img-preview {
        height: 150px !important;
    }
}
