.input-date input {
    max-width: 150px;
    color: #6c757d;
}

.upsert-container {
    max-width: 700px;
    margin: 1rem auto 1rem;
}

.upsert-container select {
    color: #6c757d;
}

.upsert-container .btn-primary {
    float: right;
    min-width: 150px;
}

.upsert-container label {
    margin-top: 1rem;
}

.upsert-container input {
    text-transform: capitalize;
}

.upsert-container textarea {
    text-transform: capitalize;
}

.upsert-container input[type='file'] {
    margin-bottom: 1rem;
}
